*{
    background-color: lightblue;
    margin: 0px;
}


#myDiv{
    
    background-color: #5fdbda;
    overflow: auto;
    padding: 30px;
    }

input{
    margin-left: 500px;
    background-color:white ;
}

span{
    background-color: #9dffff;
    margin-right: 20px;
}

ul{
 margin-left:300px;
}
li{
    list-style: none;
    margin-left: 270px;
}

h2{
    display:inline-block ;
    margin-left: 500px;
    margin-bottom: 30px;
}